@import 'https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.links {
    padding: 36px;
    margin-left: 444px;
}

.links a {
    font-family: 'Roboto-Regular', sans-serif;
    font-size: 16px;
    color: #111111;

    text-decoration: none;
    line-height: 19px;

    padding: 0 15px;
}

span {
    font-weight: bold;
}

.logo {
    position: absolute;
    margin-top: 36.1px;
    margin-left: 231px; 
}

#main {
    position: absolute;
    background-color: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin-left: 230px; 
}

#main h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    margin-left: 60px;
    margin-top: 117px;
}

#main p {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    color: #000000;
    opacity: 0.7;
    max-width: 316px;
    margin-left: 60px;
    margin-top: 10px;
}

.chef {
    position: relative;
    margin-top: 66px;
    margin-left : 854px;
}

#mais-acessadas h1 {
    margin: 50px 0 20px 230px;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

/* === RECEITAS === */

.receitas {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 230px;
    gap: 20px;
}

.receita {
    width: 300px;
}

.receita-imagem img {
    border-radius: 15px;
    width: 100%;
}

.receita-nome h1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    margin-top: 20px;
}

.receita-autor h2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 30px
}

footer {
    background-color: #EEEEEE;
    padding: 23px;
    margin-top: 20px;
}

footer h2 {
    color: #999999;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}

/* === Sobre === */

.titulo {
    margin-left: 230px;
    margin-top: 14px;
    max-width: 940px;
}

.titulo h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #111111;
}

.titulo p {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    width: 660px;
    height: 413px;

    background-color: #FFFFFF;
    margin: 200px auto;
    position: relative;
    border-radius: 16px;   
}

.modal .close-modal {
    color: #999999;
    cursor: pointer;
    position: absolute;
    margin-left: 281px;
    margin-top: 364px;
}

.modal .close-modal h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: normal;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
